.inputField {
  border: none;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  background: rgb(0,0,0);
  color: white;
  width: 300px;
  height: 40px;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.336) 1.95px 1.95px 2.6px;
}

.buttonStyle {
  display: block;
  border: none;
  background: none;
  color: white;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff,
   0 0 0px #ffffff;
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 25px;
  margin-top: 10px;
}

.buttonStyle:hover {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 5px #ffffff, 0 0 4px #ffffff,
   0 0 4px #ffffff;
}